@import 'style/_global';

body {
  padding: 0;
  margin: 0;
  font-family: Montserrat;
}

.input-text{
  margin: 30px 0px;
}

.input-text__body{
  position: relative;
}

.input-text__input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid $gray;
}
.input-text__placeholder {
  position: absolute;
  transition: all 800ms;
  color: $secondaryFontGray;
  left: 0px;
  padding: 10px;
  transform-origin: top left;
}

.input-text__input:not(:placeholder-shown) + .input-text__placeholder {
  transform: translateY(-100%) scale(.75);
  color: $FontGray;
  padding: 0 10px;
}

.input-text__input:focus{
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 2px solid $orange;
}

.text--verde{
  color: #81b71a !important;
}

.button--spotify{
  color:white;
  background-color: #81b71a;
}

.link--spotify{
  padding: 15px;
  display: block;
  color:white;
  background-color: #81b71a;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.link--spotify:hover{
  background-color: #6fa013;
}
